$primary-color: linear-gradient(
  165deg,
  rgb(52, 167, 48) 0%,
  rgb(36, 40, 53) 22%
);
$secondary-color: rgb(0, 145, 182);
$tertiary-color: #141b1f;

$primary-font-color: rgb(10, 137, 255);
$secondary-font-color: rgb(255, 255, 255);

$primary-font: "Roboto", sans-serif;
$secondary-font: "Lato", sans-serif;
$tertiary-font: "Alegreya Sans", sans-serif;
